<title>Fritz Chair Footer</title>
</head>

<footer>
    <div class="footer-container">
        <div class="links-wrapper">
            <h2>Contact Us</h2>
            <ul class="link-list">
                <li>Phone: (214) 264-1232</li>
                <li>Email: Rick@FritzChair.com</li>       
            </ul>
        </div>
        <div class="links-wrapper">
            <h2 class="social-links-title">Social Links</h2>
            <ul class="social-list">
                <a href="https://www.facebook.com/fritzchair"><li><i class="bi bi-facebook"></i></li></a>
                <a href="https://twitter.com/search?q=%23juguzzi&src=typed_query"><li><i class="bi bi-twitter"></i></li></a>
                <a href="https://www.instagram.com/explore/tags/juguzzi/"><li><i class="bi bi-instagram"></i></li></a>
            </ul>
        </div>
    </div>
    <div class="fineprint">
        <p>©2021 All Rights Reserved by fritzchair.com</p>
    </div>
</footer>
</html>