<%- include('partials/header') -%>


<main class="about-container">
    <section class="aboutus-hero">          
        <h1 class="aboutus-hero-title">About Us</h1>           
    </section>

    <section class="aboutus-section">
        <div>
            <p class="aboutQuote">“If it’s the right chair, it doesn’t take too long to get comfortable in it.” – Robert De Niro</p>
            <br>
            <p class="aboutQuote">When it comes to comfortable chairs, very few can match the chairs manufactured by Mound Industries LLC. Our chairs have been carefully designed and manufactured to maximize the comfort of all users. Simply put, our chairs are meant to be a fantastic and welcome addition to your family’s events for years to come.   Our Fritz Chairs are made with materials of the highest quality, assuring you that each chair you purchase remains a reliable and valued possession. As durable as it is comfortable, the Fritz Chair has become a popular piece of furniture. In fact, the chair itself is frequently found in homes, retail stores, and resorts within the Dallas-Fort Worth Metroplex!</p>
            <br>
            <h3 class="aboutHeading">A History of Comfort</h3>
            <p class="aboutus-paragraph">The original Fritz Chair was invented by Grandpa Frederick J. “Fritz” Priesnitz many years ago. Each year, our entire family would gather in Carlsbad, New Mexico for backyard barbecues, birthdays, graduation, and other events. Although each event we would celebrate was different, the one thing that remained the same was Grandpa Fritz’s wooden “sling chair” with a canvas cover, which he lovingly made for family and friends.   When Grandpa Fritz passed away in April 2002, we decided to carry on his legacy and manufacture the very chair that made all our lives that much more comfortable. We decided to name our chairs “Fritz Chair” in loving memory of our grandfather.</p>
            <p class="aboutus-paragraph">To keep with the demands of the modern consumer, we have made subtle adjustments to the original Fritz Chair. We’ve replaced the wooden frame with a metal frame to provide better stability and durability. We have also affixed a pillow at the top of the chair to provide ample head and neck support for users. With these ergonomic features, the Fritz Chair is easily the perfect chair for any outdoor event you and your family will host or attend. Whenever you choose to sit on a Fritz Chair, know that you are sitting on a chair that has brought not only support but also joy to generations of people.</p>
            <br>
            <h3 class="aboutHeading">From Our Family to Yours</h3>
            <p>From tailgate parties to your child’s soccer match, the Fritz Chair is always a welcome companion for the whole family. If you would like to learn more about the Fritz Chair, you may contact us at 214-264-1232.   Our chairs are readily available to customers in Flower Mound, TX as well as to those within the Dallas-Fort Worth Metroplex. We also offer delivery services to customers throughout the United States.</p>
        </div>
    </section>
</main>

<%- include('partials/footer') -%>