<%- include('partials/header') -%>


<main class="contactContainer">
    <section class="contactHero">
        <h1 class="aboutHeroTitle">Contact</h1>
        <div></div>
    </section>
    <section class="contactFormSection">
        <div class="contactForm">
            <div class="formHeader">
                <h1>Feel free to contact us</h1>
                <h5>Have comments, questions, feedback or share?</h5>
                <h5>Our team woulds love to here from you</h5>
            </div>
    
            <div class="form">
                <div class="contactRow">
                    <label for="name"></label>
                    <input type="text" id="name" placeholder="Name">
                    <label for="subject"></label>
                    <input type="text" id="subject" placeholder="Subject">
                </div>
                <div class="email">
                    <label for="email"></label>
                    <input type="text" id="email" placeholder="Email">
                </div>
                <div class="msg">
                    <label for="msg"></label>
                    <textarea name="msg" id="msg" cols="43" rows="6" placeholder="Message"></textarea>
                </div>
                <button class="btn" id="submitButton">Send</button>
            </div>
        </div>
    </section>
    <section class="contactMap">
        <div></div>
        <iframe src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJSfWDAhwsTIYRd_nTM2w4nvI&key=AIzaSyACrPD1LQIygZf8VsvmPkxggX5se_UyL6w" width="100%" height="380" frameborder="0" style="border:0" allowfullscreen=""></iframe>
    </section>
</main>

<%- include('partials/footer') -%>