<%- include('partials/header') -%>


<main class="homeContainer">
    <section class="homeHero">
        <div class="homeHeroText">
            <h1>Shop</h1>
            <h1>Our Chairs & Juguzzi's</h1>
        </div>
    </section>
    <section class="aboutSection">
        <div class="aboutSectionText">
            <h1>About</h1>
            <h4>“If it’s the right chair, it doesn’t take too long to get comfortable in it.” – Robert De Niro</h4>
            <h4>When it comes to comfortable chairs, very few can match the chairs manufactured by Mound Industries LLC. Our chairs have been carefully designed and manufactured to maximize the comfort of all users. Simply put, our chairs are meant to be a fantastic and welcome addition to your family’s events for years to come.   Our Fritz Chairs are made with materials of the highest quality, assuring you that each chair you purchase remains a reliable and valued possession. As durable as it is comfortable, the Fritz Chair has become a popular piece of furniture. In fact, the chair itself is frequently found in homes, retail stores, and resorts within the Dallas-Fort Worth Metroplex!</h4>           
            <button>ABOUT</button>
        </div>
    </section>
    <section class="productSection">
        <div>
            <img class="" src="/">
            <h3></h3>
        </div>
        <div>
            <img class="" src="/">
            <h3></h3>
        </div>
        <div>
            <img class="" src="/">
            <h3></h3>
        </div>
        <div>
            <img class="" src="/">
            <h3></h3>
        </div>
    </section>
    <section class="contactSection">
        <div class="contactSectionText">
            <h1>Contact Us</h1>
            <div>(214) 264-1232</div>
            <div>Rick@FritzChair.com</div>
        </div>
    </section>

</main>


<%- include('partials/footer') -%>
