<%- include('partials/header') -%>


<main>
    <section>
        <h1></h1>
        <div></div>
    </section>
    <section>
        <div></div>
    </section>
</main>

<%- include('partials/footer') -%>